<template>
  <section class="container">
    <div class="front-page-hero">My super front page!</div>
    <div class="parallax"></div>
    <div style="height:1000px;background-color:blue;font-size:36px">
    Scroll Up and Down this page to see the parallax scrolling effect.
    This div is just here to enable scrolling.
    Tip: Try to remove the background-attachment property to remove the scrolling effect.
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  }
}
</script>

<style>
.front-page-hero {
  font-size: 80px;
  text-align: center;
  margin-top: 60px;
}

.parallax {
  /* The image used */
  background-image: url("https://www.trover.com/d/1f7uc-grand-canal-venice-italy");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
